@model IEnumerable<DataAccess.Models.Post>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link rel="Stylesheet" type="text/css" href="~/Content/jHtmlArea/jHtmlArea.css" />
</head>


<div class="postcontainer" padding="30">
    
    <div class="feed">

       @foreach (var item in Model)
       {
        @*@foreach(var post in Model.PostList)
        {s
            <div class="feed">
                <p>@post.Title</p>
                <p>@post.Content</p>
                <p>@post.CreatedAt</p>
            </div>
        }*@
           <div class="text-center, border1">
               @Html.DisplayFor(modelItem => item.Title) <br/>

               
               @Html.DisplayFor(modelItem => item.Content) <br />

               @Html.DisplayFor(modelItem => item.CreatedAt)


           </div>
        
       }
    </div>
</div>
<textarea></textarea>
<script type="text/javascript" src="~/Scripts/jHtmlArea-0.8.js">
   $(document).ready(function() {
        $('textarea').htmlarea();
    });
    
</script>

