@using Microsoft.AspNet.Identity
@model InfoCom.ViewModels.PostViewModel
@{
    ViewBag.Title = "Feed";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="container">
    <div class="row">
        <div class="col-lg-8">

            <h1>Test</h1>

            <p class="lead">
                by Placeholder
            </p>

            <hr>

            <p><span class="glyphicon glyphicon-time"></span> Posted on August 24, 2013 at 9:00 PM</p>

            <hr>

            <img class="img-responsive" src="~/Content/img/sand.jpg" alt="">

            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, vero, obcaecati, aut, error quam sapiente nemo saepe quibusdam sit excepturi nam quia corporis eligendi eos magni recusandae laborum minus inventore?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, tenetur natus doloremque laborum quos iste ipsum rerum obcaecati impedit odit illo dolorum ab tempora nihil dicta earum fugiat. Temporibus, voluptatibus.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, doloribus, dolorem iusto blanditiis unde eius illum consequuntur neque dicta incidunt ullam ea hic porro optio ratione repellat perspiciatis. Enim, iure!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, nostrum, aliquid, animi, ut quas placeat totam sunt tempora commodi nihil ullam alias modi dicta saepe minima ab quo voluptatem obcaecati?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, dolor quis. Sunt, ut, explicabo, aliquam tenetur ratione tempore quidem voluptates cupiditate voluptas illo saepe quaerat numquam recusandae? Qui, necessitatibus, est!</p>

            <hr>
        </div>
        <div class="col-lg-4">
            <div class="well">
                <h4>Feed settings</h4>
                <div class="form-group">
                    <label class="radio-inline"><input type="radio" name="optradio" checked="checked">All</label>
                    <label class="radio-inline"><input type="radio" name="optradio">Formal</label>
                    <label class="radio-inline"><input type="radio" name="optradio">Informal</label>
                </div>
                <div class="form-group">
                    <label for="sel1">Category</label>
                    <select class="form-control" id="sel1">
                        <option selected="">All</option>
                        <option>Meetings</option>
                        <option>Science</option>
                        <option>Travels</option>
                        <option>Other</option>
                    </select>
                </div>
                @if (User.IsInRole("Admin"))
                {
                    <div class="checkbox">
                        <label><input type="checkbox" value="" checked="checked">Show hidden posts</label>
                    </div>
                }
                <input class="btn btn-block btn-primary" value="Save" />
            </div>
        </div>
        @foreach (var item in Model.PostList)
            {
            <div class="col-lg-8">
                @if (item.Formal)
                {
                    <h1>@item.Title</h1>
                }
                else
                {
                    <h1>@item.Title (Informal)</h1>
                }

                <p class="lead">
                    by @item.Author.Username
                </p>
                <p><span class="glyphicon glyphicon-time"></span> Posted on @item.CreatedAt.DayOfWeek.ToString() @item.CreatedAt.ToString("MMM") @item.CreatedAt.Month, @item.CreatedAt.Year at @item.CreatedAt.ToString("HH:mm tt")</p>

                <hr>

                <img class="img-responsive" src="~/Content/img/sand.jpg" alt="">

                <hr>

                <p>
                    @(item.Content.Length > 200 ? item.Content.Substring(0, 300) + "..." : item.Content)
                </p>

                <hr>
                <button class="btn btn-primary">Read more</button>
                @if (item.Author.Id == Convert.ToInt32(User.Identity.GetUserId()) || User.IsInRole("Admin"))
                {
                    <button class="btn btn-danger">Hide this post</button>
                }
                <hr />
            </div>
        }
    </div>
</div>
@*<div class="postcontainer" padding="30">
        <div class="buttonMenu">
            <input type="button" value="New post" id="postBtn" class="btn-primary" onclick="@("window.location.href='" + @Url.Action("Post", "Feed") + "'");" />
        </div>
        <div class="feed">

            @foreach (var item in Model.PostList)
            {

            if (item.Formal == true)
            {
                <div class="Formal">
                    <div class="text-center, border1">
                        <span class="text-post2">
                            @Html.DisplayFor(modelItem => item.Title) <br />
                        </span>
                        <div class="text-title1">
                            Posted by:  @Html.DisplayFor(modelItem => item.Author.Name)<br />
                        </div>


                        <div>
                            @Html.DisplayFor(modelItem => item.Content) <br />
                        </div>

                        <div class="date-separator">
                            @Html.DisplayFor(modelItem => item.CreatedAt)
                        </div>





                    </div>
                </div>

            }
            else
            {
                <div class="Informal">
                    <div class="text-center, border1">
                        <span class="text-post2">
                            @Html.DisplayFor(modelItem => item.Title) <br />
                        </span>
                        <div class="text-title1">
                            Posted by:  @Html.DisplayFor(modelItem => item.Author.Name)<br />
                        </div>


                        <div>
                            @Html.DisplayFor(modelItem => item.Content) <br />
                        </div>

                        <div class="date-separator">
                            @Html.DisplayFor(modelItem => item.CreatedAt)
                        </div>





                    </div>
                </div>

                }



            }
        </div>
    </div>

    <script type="text/javascript" src="~/Scripts/jHtmlArea-0.8.js">
        $(document).ready(function () {
            $('textarea').htmlarea();
        });

    </script>

            }*@
