@model InfoCom.ViewModels.PostViewModel
@{
    ViewBag.Title = "Post";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Post</h2>
@ViewBag.Message

<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add category</h4>
            </div>
            <div class="modal-body">
               @using (Html.BeginForm("AddCategory","Post"))
                { 
                @Html.EditorFor(model => model.NewCategory, new { @class = "form-control", placeholder = "Enter category" })
                <input id="Submit1" type="submit" value="Add" />


    }
       

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
@using (Html.BeginForm("Post", "Post", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="col-lg-4 pull-left">

        <div class="well">

            @Html.AntiForgeryToken()
            <div class="form-group">
               
                @Html.LabelFor(model => model.Title, "Title") <br/>
                @Html.TextBoxFor(model => model.Title) <br /> 
                @Html.ValidationMessageFor(model => model.Title)
                <h4>Post-Formality</h4>

                <label class="radio-inline">
                    
                    @Html.RadioButtonFor(model => model.Formal, "Formal", new { @checked = "checked" }) Formal

                </label> <br />
                <label class="radio-inline">
                    @Html.RadioButtonFor(model => model.Formal, "Informal") Informal
                </label>
                <br />
                <br />


                @Html.LabelFor(model => model.Category, "Choose a category")
                
               @Html.DropDownListFor(model => model.CategoryId, Model.Categories, htmlAttributes: new { @class = "form-control", @id = "selected-category" }) 
                <button style="margin-top:3px" type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal">
                    Add Category
                </button> 
                <!-- Button trigger modal -->
               
            </div>

            <br />
            <div class="file-btn btn-group-justified well form-group">
                @Html.Label("Attach Files")
                <p>(Doc formats: rtf, docx, doc, txt, ppt, xls, xlsx.)</p>
                <p>(Img formats: jpg, png, gif.)</p>
                <input type="file" name="file" /> <br />
                <input type="file" name="file2" /> <br />
                <input type="file" name="file3" /> <br />


            </div>








        </div>



    </div>

    <div class="col-md-8 pull-right">
        
        @Html.TextAreaFor(model => model.Content, new { @class = "postText" })
        @Html.ValidationMessageFor(model => model.Content)
        <div class="col-md-3 pull-right">
            <input type="submit" value="Upload" class="btn btn-block btn-primary" />
        </div>
        
    </div>
   
}
<script>
    $("#myModal").modal()
</script>
