@model InfoCom.ViewModels.MeetingViewModel
@using DataAccess.Models;

@{
    ViewBag.Title = "Index";
}

<h2>Meeting info</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Creator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Creator.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayName("Possible times")
        </dt>
        @foreach (Time time in Model.Times)
        {
            <dd>
                @Html.Label(time.Date.ToString())  
                @if(!Model.AlreadySelectedTimes.Contains(time.Id) && Model.Invited)
                {
                @Html.ActionLink("Attend this time", "AddNewTimeChoice", new { id = time.Id })
                }
                else if(Model.Invited)
                {
                    <img src="~/Content/Crystal_Clear_app_clean_dark.png" alt="You've attended this time" height="20" width="20"/>
                }
            </dd>
        }
        <dt>
            @Html.Label("Invited")
        </dt>
        @foreach (Invitation invitation in Model.Invitations)
        {
            <dd>
                @Html.Label(invitation.User.Name)
            </dd>
        }
        @if (Model.NotInvitedUsers.Count > 0 && Model.Creator.Id == Model.CurrentUserId)
        {
            <dt>
                @Html.Label("Invite colleagues")
            </dt>
        }
    </dl>
    <div class="meetingdiv">
        @if (Model.Creator.Id == Model.CurrentUserId)
        {
            using (Html.BeginForm("AddNewInvitation", "Meeting"))
            {
                @Html.HiddenFor(model => model.MeetingId)
                if (Model.NotInvitedUsers.Count > 0)
                {
                    <div class="innermeetingdiv">
                        @Html.DropDownListFor(model => model.UserId, Model.NotInvitedUsers, htmlAttributes: null)

                        <br />
                        <input id="Submit" type="submit" value="Invite" />
                    </div>
                }
            }
        }
    </div>
  
</div>
