@model InfoCom.ViewModels.MeetingViewModel
@using DataAccess.Models;

@{
    ViewBag.Title = "Index";
}

<h2>Meeting info</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Creator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Creator.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dates)
        </dt>
        @foreach (DateTime date in Model.Dates)
        {
            <dd>
                @Html.Label(date.ToString())
            </dd>
        }
        <dt>
            @Html.Label("Invited")
        </dt>
        @foreach (Invitation invitation in Model.Invitations)
        {
            <dd>
                @Html.Label(invitation.User.Name)
            </dd>
        }
        @if (Model.NotInvitedUsers.Count > 0)
        {
        <dt>
            @Html.Label("Invite colleagues")
        </dt>
        }
    </dl>
    <div class="meetingdiv">
        @if (Model.Creator.Id == Model.CurrentUserId)
        {
            using (Html.BeginForm("AddNewInvitation", "Meeting"))
            {
                @Html.HiddenFor(model => model.MeetingId)
                if (Model.NotInvitedUsers.Count > 0)
                {
                    <div class="innermeetingdiv">
                    @Html.DropDownListFor(model => model.UserId, Model.NotInvitedUsers, htmlAttributes: null)
                    <br />
                    <input id="Submit" type="submit" value="Invite" />
                    </div>
                }

            }

        }
    </div>
</div>

