@model InfoCom.ViewModels.MeetingsViewModel
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Meetings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Meetings</h2>


@if (TempData["Message"] != null)
{
    <div class="alert @TempData["Type"]" role="alert">@TempData["Message"]</div>
}
<h3>Received invitations</h3>

@if (Model.Invitations.Count > 0)
{
    <div class="container">
        <div class="col-md-6">
            <table class="table table-hover">
                <tbody>
                    @foreach (var x in Model.Invitations)
                {
                        <tr>
                            <td>@x.Meeting.Title</td>
                            <td class="text-right">
                                @Html.ActionLink("View", "Profile", new { id = x.Meeting.Id}, "Meeting")
                            </td>
                        </tr>
                    }
            </table>
        </div>
    </div>
}
else
{
    <p>You have no invitations.</p>
}

<h3>Created meetings</h3>
@if (Model.Meetings.Count > 0)
{
    <div class="container">
        <div class="col-md-6">
            <table class="table table-hover">
                <tbody>
                    @foreach (var x in Model.Meetings)
                    {
                        <tr>
                            <td>@x.Title</td>
                            <td class="text-right">
                                @Html.ActionLink("View", "Profile", new { id = x.Id }, "Meeting") | <a href="#" class="btn btn-xs btn-danger" onClick="deactivateMeetingModal(@x.Id)" data-toggle="modal" data-target="#confirmMeetingModal"><span class="glyphicon glyphicon-remove"></span> Deactivate</a>
                            </td>
                        </tr>
                    }
            </table>
        </div>
    </div>
}
else
{
    <p>You have no created meetings.</p>
}
<!-- Modal -->
<div class="modal fade" id="confirmMeetingModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Deactivate meeting</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to deactivate this meeting?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="confirm-deactivate-meeting-button" class="btn btn-primary">Deactivate</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/Scripts/deactivateMeeting.js")
}

